.worker {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.worker p {
    margin: 5px;
    border: 1px solid #000;
    padding: 2px;
    flex-grow: 1;
    text-align: center;
}

.worker p:nth-of-type(1) {
    width: 5px;
}

.worker p:nth-of-type(2) {
    width: 30px;
}

.worker p:nth-of-type(3) {
    width: 45px;
}

.worker p:nth-of-type(4) {
width: 80px;
}

.worker p:nth-of-type(5) {
width: 80px;
}

